<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atribuir nota</title>

    <link href="~/Content/Css/reset.css" rel="stylesheet" />
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Css/listagem-tarefa.css" rel="stylesheet" />
    <link href="~/Content/Css/barra-navegacao.css" rel="stylesheet" />
    <link href="~/Content/Css/footer.css" rel="stylesheet" />
    <link href="~/Content/Css/atribuir-notas.css" rel="stylesheet" />

</head>

<body>

    <nav>
        <div id="all-links-navbar" style="display: inline-flex;min-width: 360px;">
            <a href="/Administrador/Logout" class="link-navbar" id="nav-logout">Logout</a>
            <div class="dropdown">
                <a class="dropdown-toggle link-navbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   style="color:#a9a9a9">
                    Tarefas
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Tarefa/Index">Buscar</a>
                    <a class="dropdown-item" href="/Tarefa/Form">Cadastrar</a>
                    <a class="dropdown-item" href="/Tarefa/Listar">Listar</a>
                </div>
            </div>

            <div class="dropdown">
                <a class="dropdown-toggle link-navbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   style="color:#a9a9a9">
                    Alunos
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Aluno/FormNovoAluno">Cadastrar</a>
                    <a class="dropdown-item" href="/Aluno/Listar">Listar</a>
                </div>
            </div>

            <a href="/Administrador/Form" class="link-navbar" id="nav-logout">Cadastrar administrador</a>
        </div>

        <div id="div-nav-username">
            <label id="usuario-nome-navbar" class="info-navbar">Olá @ViewBag.Username.</label>
        </div>

        <label id="data-navbar" class="info-navbar">@ViewBag.DataHoje</label>
    </nav>

    <div class="container">
        <h2>Atribuir nota</h2>
        <form class="ajuste-form" action="/DiarioDeNota/BuscarTarefas" method="GET">
            <div class="form-group janela-de-busca-aluno">
                <div class="row">
                    <label>Aluno</label>
                    <div>
                        <select class="form-control" name="id">
                            @{
                                foreach(var aluno in ViewBag.Alunos) {
                                    <option value="@aluno.Id" selected="@(aluno.Id == ViewBag.IdAluno)">@aluno.Nome</option>
                                }
                            }
                        </select>
                    </div>
                    <button class="btn btn-success">Buscar</button>
                </div>
            </div>
        </form>


        <h2>Tarefas</h2>

        <div class="lista-de-tarefas">

            @{
                foreach(var tarefa in ViewBag.Tarefas) {

                    <form action="/DiarioDeNota/AtribuirNota" method="POST"
                          @( ViewBag.Tarefas.Count == 1 ? "style=display:block;margin:0px;" : "" )>
                        @Html.AntiForgeryToken()
                        <div class="box-detalhe"
                             @( tarefa.DataLimite < DateTime.Today ? $"style=border-top-color:red;" : $"style=border-top-color:white;" )>
                            <div class="form-group">
                                <label>Tipo de tarefa</label>
                                <input class="form-control" value="@tarefa.TipoDaTarefa" readonly />
                            </div>

                            <div class="form-group">
                                <label>Data limite para entrega</label>
                                <input type="date" class="form-control" value="@tarefa.getDataFormatadaBrowser()" readonly 
                                       @( tarefa.DataLimite == DateTime.Today ? $"style=border-color:#dc3545;" : "" )/>
                            </div>

                            <div class="form-group">
                                <label>Descrição</label>
                                <textarea type="text" class="form-control" rows="3" readonly>@tarefa.Descricao</textarea>
                            </div>

                            <button type="button" class="btn btn-success btn-atribuir-nota" data-toggle="modal" data-target="#atribuir@(tarefa.Id)">Atribuir nota</button>

                            <div class="modal fade" id="atribuir@(tarefa.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Atribuir nota</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <label>Aluno: @ViewBag.AlunoNome</label>
                                            <br/>
                                            <label>Tipo de tarefa: @tarefa.TipoDaTarefa</label>
                                            <hr/>

                                            <div class="form-group">
                                                <label>Nota</label>
                                                <input class="form-control" type="number" name="NotaRecebida" min="0" max="10"/>
                                                <span style="color:red">@Html.ValidationMessage("NotaRecebida")</span>
                                            </div>
                                            <div class="form-group">
                                                <label>Observações</label>
                                                <textarea rows="3" class="form-control" name="Observacoes"></textarea>
                                            </div>

                                            <input type="hidden" name="IdAluno" value="@ViewBag.IdAluno"/>
                                            <input type="hidden" name="IdTarefa" value="@tarefa.Id"/>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Atribuir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                }
            }

        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <footer>
        <span>&copy; Copyright 2018 - Anderson Marques.</span>
    </footer>
</body>

</html>